.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.logo {
  margin: 32px 0 32px 0;
}

.circle {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstCircle {
  position: absolute;
  width: 470.913px;
  height: 470.913px;
  flex-shrink: 0;
  border-radius: 470.913px;
  border: 1px solid #353535;
  opacity: 0.10000000149011612;
}
.secondCircle {
  position: absolute;
  width: 642.011px;
  height: 642.011px;
  flex-shrink: 0;
  border-radius: 642.011px;
  border: 1px solid #272727;
  opacity: 0.10000000149011612;
}
.thirdCircle {
  position: absolute;
  width: 776.754px;
  height: 776.754px;
  flex-shrink: 0;
  border-radius: 776.754px;
  border: 1px solid #272727;
  opacity: 0.20000000298023224;
}
.fourthCircle {
  position: absolute;
  width: 919.423px;
  height: 919.423px;
  flex-shrink: 0;
  border-radius: 919.423px;
  border: 1px solid #272727;
  opacity: 0.30000001192092896;
}
.fifthCircle {
  position: absolute;
  width: 1072px;
  height: 1072px;
  flex-shrink: 0;
  border-radius: 1072px;
  border: 1px solid #272727;
  opacity: 0.4000000059604645;
}
.iphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.title h1 {
  color: var(--label-color-dark-primary, #fff);
  text-align: center;
  text-shadow: 0px 0px 90px 0px rgba(255, 255, 255, 0.1);
  font-family: SF Pro Display;
  font-size: 180px;
  font-style: normal;
  font-weight: 600;
  line-height: 140px;
  letter-spacing: 1.837px;
  margin: 0;
}
.title p {
  color: var(--label-color-dark-primary, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 20.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.35px;
  margin-top: 0;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../fonts/SF/SF-Font-for-Windows/SF-UI-Display-Medium.ttf");
}
