.menu-button {
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  padding: 9px 16px;
  color: var(--label-color-dark-secondary, #8a8a8a);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.078px;
  /* transition: all 0.3s; */
}
.menu-button:hover {
  padding: 9px 16px;
  color: var(--label-color-dark-primary, #fff);
  border-radius: 1000px;
  background: rgba(84, 84, 88, 0.65);
  transition: all 0.3s;
}
.active {
  color: var(--label-color-dark-primary, #fff);
  border-radius: 1000px;
  background: var(
    --separator-color-dark-with-transparency,
    rgba(84, 84, 88, 0.65)
  );
}
